<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Allow access to index.php -->
                <rule name="Allow Index.php" stopProcessing="true">
                    <match url="^index\.php$" ignoreCase="false" />
                    <action type="None" />
                </rule>

                <!-- Allow access to assets folder -->
                <rule name="Allow Assets Folder" stopProcessing="true">
                    <match url="^assets/(.*)" ignoreCase="false" />
                    <action type="None" />
                </rule>

                <!-- Allow access to assets folder -->
                <rule name="Allow SWF files in Gamefiles Folder" stopProcessing="true">
                    <match url="^gamefiles/.*\.swf$" ignoreCase="false" />
                    <action type="None" />
                </rule>

                <!-- Allow access to assets folder -->
                <rule name="Allow Phpmyadmin Folder" stopProcessing="true">
                    <match url="^phpmyadmin/(.*)" ignoreCase="false" />
                    <action type="None" />
                </rule>

                <!-- Redirect all other requests to index.php -->
                <rule name="Redirect to index.php" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/index\.php$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/assets/" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/phpmyadmin/" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/gamefiles/.*\.swf$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
